:root {
  --color-primary: #0b1b44;
  --color-background: #fff;
  --color-border: #bbb;

  --color-text: #202022;
  --color-accent: #0098ff;
  --color-accent-hover: #0b1b44;
  --color-error: #b00;

  --font-family-base: system-ui, sans-serif;
  --font-family-display: 'Ubuntu', sans-serif;

  --drop-shadow: 0 2px 8px 1px rgba(18, 18, 18, 0.3);
  --animation-fade: all 0.1s ease-out;
}

@import '/src/assets/scss/main.scss';

header {
  background: var(--color-primary);
  color: var(--color-background);
  position: relative;
  display: flex;

  img.bear {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }

  .header-content {
    max-width: 75rem;
    margin-inline: auto;
    padding: 3rem 2rem;
    position: relative;
    z-index: 1;
  }
}

/* Search form component styles */

.search-form {
  display: flex;
  margin-bottom: 2rem;
}

.input {
  border-radius: 8px 0 0 8px;
  border: 1px solid var(--color-border);
  border-right: 0;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  flex: 1 1 auto;
  transition: var(--animation-fade);
  min-width: 8rem;
}

.input:focus {
  border-radius: 0;
  outline: none;
  border-color: var(--color-accent);
}

.button {
  border: 0;
  font-size: 1.2rem;
  appearance: none;
  background: var(--color-accent);
  color: var(--color-background);
  padding: 1rem 2rem;
  border-radius: 0 8px 8px 0;
  height: 4rem;
  transition: var(--animation-fade);
}

.button:hover {
  background: var(--color-accent-hover);
  border-radius: 0;
}

/* Error styles on Search Form */

.error .input {
  border-color: var(--color-error);
}

.error .button {
  background: var(--color-error);
}


